body {
  background: linear-gradient(0deg,
      rgba(239, 171, 245, 0.2) 13.4%,
      rgba(196, 181, 249, 0.2) 76.3%);
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: rgba(33, 37, 42, 0.5);
}

input[type="text"],
textarea {
  background-color: rgba(196, 181, 249, 0.2);
  border: 2px solid rgba(196, 181, 249, 0.2);
}

input[type="text"]::placeholder {
  color: rgba(39, 33, 66, 0.4);
}

footer a {
  color: rgb(245, 78, 162);
}

hr {
  color: rgba(0, 0, 0, 0.2);
}