.fixed-container {
    max-width: 600px;
    background: #fff;
    padding: 30px 30px 10px;
    margin-top: 40px;
    margin-bottom: 0px;
    border-radius: 15px;
}

.Weather .selected_tempreture {
    color: rgb(33, 33, 33);
    font-weight: bold;
}

.Weather .tempreture-unit {
    position: relative;
    top: -38px;
}

.Weather .current-tempreture {
    color: rgb(33, 33, 33);
    font-size: 70px;
    font-weight: 600;
}

.Weather canvas {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.Weather .observations {
    margin: auto;
}

.Weather .bolded-information {
    color: rgb(245, 78, 162);
    font-weight: 600;
    font-size: 15px;
}

.Weather .card-title,
.observations,
.next-days-tempreture,
.tempreture-unit {
    color: rgba(33, 37, 42, 0.5);
    font-weight: 300;
}

.Weather .btn-pink {
    background: rgb(245, 78, 162);
    border: 1px solid rgb(245, 78, 162);
    color: #fff;
    transition: all 200ms ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.Weather .btn-pink:hover {
    opacity: 0.8;
}

.Weather .btn-pink-secondary {
    background: #fff;
    color: rgb(245, 78, 162);
    border: 1px solid rgb(245, 78, 162);
    transition: all 200ms ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.Weather .btn-pink-secondary:hover {
    border: none;
}

.Weather .weather-forcast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.Weather .weather-forcast-date {
    font-size: 16px;
    opacity: 0.5;
}

.Weather .weather-forcast-temperature {
    font-size: 15px;
    color: rgb(245, 78, 162);
    font-weight: bold;
}

.Weather .weather-forcast-temperature-min {
    opacity: 0.5;
}

.Weather .city-title {
    color: rgb(33, 33, 33);
    font-size: 40px;
    font-weight: 700;
}